.playerTeamContainer {
    padding: 7.5px;
    padding-bottom: 12.5px;
    margin: 20px;
    width: 150px;
    height: 365px;
    background-image: linear-gradient(15deg, #801357 0%, #f78ca0 100%);
    border-radius: 7.5px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px  4px  rgb(255, 127, 127, 1),
    0 1px  6px  rgba(255, 127, 127, 1),
    0 8px  8px  rgba(255, 127, 127, .01),
    0 16px 16px rgba(255, 127, 127, .01),
    8px 32px 32px rgba(255, 127, 127, .01),
    8px 64px 64px rgba(255, 127, 127,.01);
}

.playerTeamSubContainer {
    height: 365px;
    border-radius: 7.5px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px  4px  rgba(255, 127, 127, 1),
    0 1px  6px  rgba(255, 127, 127, 0.5),
    0 8px  8px  rgba(255, 127, 127, .1),
    0 16px 16px rgba(255, 127, 127, .1),
    8px 32px 32px rgba(255, 127, 127, .1),
    8px 64px 64px rgba(255, 127, 127,.1);
}

.playerTeamAttributeContainer {
    width: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px; 
}

.playerTeamImage {
    width: 150px;
    height: 100px;
    border-top-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
}

.playerTeamDescriptionContainer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.playerTeamDescriptionSubContainer {
    background-image: linear-gradient(-225deg,  #FF0066 0%, #D41872 52%,  #A445B2 100%);
    height: auto;
    padding: 3px;
    line-height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.playerTeamHorizontalLine {
    border-top: 1px solid white;
    width: 150px;
}

.playerTeamRemoveButton {
    text-transform: uppercase;
    font-family: 'Josefin Sans';
    text-shadow: 0 0 10px white;
    font-size: 11px;
    color: white;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    padding: 7.5px;
    width: 130px;
    border-color: none;
    outline: none;
    box-shadow:  0 4px  4px  rgba(255, 127, 127, .5),
    0 1px  6px  rgba(255, 127, 127, 0.5),
    0 8px  8px  rgba(255, 127, 127, .1),
    0 16px 16px rgba(255, 127, 127, .1),
    8px 32px 32px rgba(255, 127, 127, .1),
    8px 64px 64px rgba(255, 127, 127,.1);
}

.playerTeamDescriptionTitle {
    font-size: 9px;
    text-shadow: 0 0 10px rgba(236,240,241 ,.7);
    color: rgba(236,240,241 ,.7);
    text-shadow: 0 0 10px white;
}

.playerTeamDescriptionDetails {
    font-size: 10px;
    text-align: center;
    text-shadow: 0 0 10px white;
}

.playerTeamAttributeTitle {
    font-size: 10px;
    text-shadow: 0 0 10px #FCAE1E;
    color: #FCAE1E;
    line-height: 15px
}

.playerTeamAttributeScore {
    font-size: 12px;
    text-shadow: 0 0 10px yellow;
    color: yellow;
    line-height: 15px
}

.playerTeamSpecialMoveText {
    font-size: 9px;
    text-shadow: 0 0 10px rgb(255, 212, 212);
    color: rgb(255, 212, 212);
    margin-left: 10px;
}

.playerTeamGifContainer {
    margin: 7.5px;
    width: 110px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}