@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

.background {
position: absolute;
height: 100vh;
width: 100vw;
top: 0px;
left: 0px;
overflow: hidden;
}

.headertext {
  position: relative;
  padding: 20px 40px 10px 10px;
  line-height: 1.3;
  letter-spacing: 4px;
  transition: color .3s ease-in-out;
}

.headerStyle {
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
}

.nep-highlight {
  color: aquamarine;
  font-size: 20px;
  text-shadow: 0 0 10px aquamarine;
}

.particleContainer {
  position: absolute;
  z-index: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/footballBackground.jpg');
  background-position: center;
  background-size: cover;
}

.mainContainer {
  position: absolute;
  z-index: 1;
}