body {
  text-transform: uppercase;
  font-family: 'Josefin Sans';
  font-size: 13px;
  color: white;
}

.columnStyle {
  display: flex;
  flex-direction: column;
}

.rowStyle {
  display: flex;
  flex-direction: row;
}
